* {
    margin: 0;
    padding: 0;
    /*Återställer margin och padding till 0 för alla element.*/
    box-sizing: border-box;
    /*Ställ in box-sizing till border-box för att inkludera padding och border i den angivna bredden och höjden*/
}
body {
    font-family: 'Georgia', serif;
    /*Ställer in typsnitt*/
    background-image: url(/img/background.jpg);
    /*Lägger till bakgrundsbild*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Gör body till en flex-container och centrerar innehåll både horisontellt och vertikalt.*/
    min-height: 100vh;
    /*Ställer in minsta höjd till 100vh*/
}

.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1ft;
    /*Definierar ett grid-layout med specifika rader och kolumner*/
    gap: 10px;
    /*Lägger till mellanrum mellan elementen.*/
    position: relative;
    /*Positionerar containern relativt till andra element.*/
    width: 1500px;
    height: 100vh;
    /*Anger en fast bredd och höjd.*/
}

.container > div {
    border: 5px #4f3625;
    background-color: #c1a898;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
     /*Lägger till en kantlinje, bakgrundsfärg, padding och avrundade hörn till alla direkt underordnade div-element.*/
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 20px;
    /*Gör header till en flex-container och justerar elementen horisontellt.*/
}
header h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #5d3c27;
    font-weight: bold;
    /*Stylar huvudrubriken med storlek, färg och vikt.*/
}

#björn {
    grid-row: 2/5;
    grid-column: 1/2;
    width: 15%;
    height: 15%;
    border-radius: 10px;
    /*Positionerar och stylar ett specifikt element med ID:t "björn".*/

}
.länkar {
    justify-items: center;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    color: #5d3c27;
    line-height: 1.5; 
    /*Stylar underrubriker med storlek, stil, färg och linjeavstånd.*/
}

 ul {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #4f3625;
    line-height: 1.25;
    /*Stylar listor för ingredienser med indrag, storlek, färg och linjeavstånd.*/
 }

 #ingredienser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /*Centrerar och stylar ett bildområde med skugga.*/
 }

 .byt {
    justify-items: center;
    /*Placering*/
 }