/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Georgia', serif;
    background-image: url(/img/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 1800px;
    height: 100%;
}

/* Background */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/background.jpg') no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: 0.2;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center;
    margin-top: 70px;
    /* margin-bottom: 20px; */
}
header h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #5d3c27;
    font-weight: bold;
}

#stickers {
    grid-row: 2/5;
    grid-column: 1/2;
    width: 15%;
    height: 15%;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    color: #5d3c27;
    line-height: 1.5; /* Increase the line spacing */
}
p {
    font-size: 1.5rem;
    color: #432e20;
    line-height: 1.25; /* Increase the line spacing */
 }

 ul {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #4f3625;
    line-height: 1.25;
 }