/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Georgia', serif;
    background-image: url(/img/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    position: relative;
    width: 1500px;
    height: 100vh;
}

.container > div {
    border: 5px #4f3625;
    background-color: #c1a898;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
header h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #5d3c27;
    font-weight: bold;
}

#stickers {
    grid-row: 2/5;
    grid-column: 1/2;
    width: 15%;
    height: 15%;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    color: #5d3c27;
    line-height: 1.5; 
}
p {
    font-size: 1.5rem;
    color: #432e20;
    line-height: 1.25; 
 }

 ul {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #4f3625;
    line-height: 1.25;
 }

 #center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }